<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sibaAccountForm">
            <h2><span jhiTranslate="formfillerApp.sibaAccountForm.detail.title">Siba Account Form</span> {{sibaAccountForm.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.registerDate">Register Date</span></dt>
                <dd>
                    <span>{{sibaAccountForm.registerDate}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.registrationNumber">Registration Number</span></dt>
                <dd>
                    <span>{{sibaAccountForm.registrationNumber}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.registrationPlace">Registration Place</span></dt>
                <dd>
                    <span>{{sibaAccountForm.registrationPlace}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.registrationCapital">Registration Capital</span></dt>
                <dd>
                    <span>{{sibaAccountForm.registrationCapital}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.activityType">Activity Type</span></dt>
                <dd>
                    <span>{{sibaAccountForm.activityType}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.longTime">Long Time</span></dt>
                <dd>
                    <span>{{sibaAccountForm.longTime}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.boardManagementLong">Board Management Long</span></dt>
                <dd>
                    <span>{{sibaAccountForm.boardManagementLong}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.phoneNumber1">Phone Number 1</span></dt>
                <dd>
                    <span>{{sibaAccountForm.phoneNumber1}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.phoneNumber2">Phone Number 2</span></dt>
                <dd>
                    <span>{{sibaAccountForm.phoneNumber2}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.faxNumber">Fax Number</span></dt>
                <dd>
                    <span>{{sibaAccountForm.faxNumber}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.zipCode">Zip Code</span></dt>
                <dd>
                    <span>{{sibaAccountForm.zipCode}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.emailAddress">Email Address</span></dt>
                <dd>
                    <span>{{sibaAccountForm.emailAddress}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.plainAddress">Plain Address</span></dt>
                <dd>
                    <span>{{sibaAccountForm.plainAddress}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.accountRegistrationPurpose">Account Registration Purpose</span></dt>
                <dd>
                    <span>{{sibaAccountForm.accountRegistrationPurpose}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.fullName1">Full Name 1</span></dt>
                <dd>
                    <span>{{sibaAccountForm.fullName1}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.fullName2">Full Name 2</span></dt>
                <dd>
                    <span>{{sibaAccountForm.fullName2}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.fullName3">Full Name 3</span></dt>
                <dd>
                    <span>{{sibaAccountForm.fullName3}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.fullName4">Full Name 4</span></dt>
                <dd>
                    <span>{{sibaAccountForm.fullName4}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.fullName5">Full Name 5</span></dt>
                <dd>
                    <span>{{sibaAccountForm.fullName5}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.fullName6">Full Name 6</span></dt>
                <dd>
                    <span>{{sibaAccountForm.fullName6}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.customerNumber1">Customer Number 1</span></dt>
                <dd>
                    <span>{{sibaAccountForm.customerNumber1}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.customerNumber2">Customer Number 2</span></dt>
                <dd>
                    <span>{{sibaAccountForm.customerNumber2}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.customerNumber3">Customer Number 3</span></dt>
                <dd>
                    <span>{{sibaAccountForm.customerNumber3}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.customerNumber4">Customer Number 4</span></dt>
                <dd>
                    <span>{{sibaAccountForm.customerNumber4}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.customerNumber5">Customer Number 5</span></dt>
                <dd>
                    <span>{{sibaAccountForm.customerNumber5}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.customerNumber6">Customer Number 6</span></dt>
                <dd>
                    <span>{{sibaAccountForm.customerNumber6}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.sendingBillCycle">Sending Bill Cycle</span></dt>
                <dd>
                    <span>{{sibaAccountForm.sendingBillCycle}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.howToSendBill">How To Send Bill</span></dt>
                <dd>
                    <span>{{sibaAccountForm.howToSendBill}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.otherServices">Other Services</span></dt>
                <dd>
                    <span>{{sibaAccountForm.otherServices}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.accountType">Account Type</span></dt>
                <dd>
                    <span>{{sibaAccountForm.accountType}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.letterNumber">Letter Number</span></dt>
                <dd>
                    <span>{{sibaAccountForm.letterNumber}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.letterDate">Letter Date</span></dt>
                <dd>
                    <span>{{sibaAccountForm.letterDate}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.letterOrganization">Letter Organization</span></dt>
                <dd>
                    <span>{{sibaAccountForm.letterOrganization}}</span>
                </dd>
                <dt><span jhiTranslate="formfillerApp.sibaAccountForm.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="sibaAccountForm.customer">
                        <a [routerLink]="['/customer', sibaAccountForm.customer?.id, 'view']">{{sibaAccountForm.customer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/siba-account-form', sibaAccountForm.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
